{% block content %}

<!DOCTYPE html>
<html lang="ja">
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class="row">
            <div class = "col-md-10">
                <h1>{{ year }}年{{ month }}月{{ day }}日</h1>
            </div>
            <div class="col-md-2">
                <p><a href="/" class="btn btn-primary">戻る</a></p>
            </div>
        </div>
    </head>
    <body>
        <footer>
            <p>This is a simple toDo application powered by <b>FastAPI</b>!</p>
        </footer>
    </body>
</html>

{% endblock %}